<div class="search_form">
  <table align="center">
    <tr>
      <div class="search_form">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <td><%= f.text_field :content %></td>
          <td><%= f.select :model, options_for_select({"User" => "user", "Book" => "book" }) %></td>
          <td><%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %></td>
          <td><%= f.submit "検索", class: "btn btn-sm btn-primary" %></td>
        <% end %>
      </div>
    </tr>
  </table>
</div>